<div class="card">
  <div class="card-header">About Matthew</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        {% if site.author_logo %}
        <img
          class="author-profile-img"
          src="/assets/img/{{ site.author_logo }}"
          alt=" "
        />
        {% endif %}
      </div>
      <div class="col-md-6">
        <p class="author_bio">{{ site.author_bio }}</p>
        <p>Email : {{ site.author_email }}</p>
        <!--                        <p class="profile-links">-->
        {%- include socials.html -%}

        <!--                        </p>-->
      </div>
    </div>
  </div>
</div>
