{% assign gallery_images = site.data.auto_galleries[include.picture_path] %}

<div class="gallery-container">
  <div class="gallery-grid" id="gallery-{{ include.picture_path | slugify }}">
    <!-- Masonry grid sizer -->
    <div class="gallery-grid-sizer"></div>

    {% for image in gallery_images %} {% assign base_name = image.original |
    split: '.' | first %} {% assign ext = image.original | split: '.' | last %}
    {% assign caption = image.filename | replace: '-', ' ' | split: '.' | first
    | capitalize %}

    <div class="gallery-item">
      <a
        href="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ include.picture_path }}/{{ image.original }}"
        class="gallery-link"
        data-caption="{{ caption }}"
      >
        <img
          loading="lazy"
          class="gallery-thumbnail"
          alt="{{ caption }}"
          src="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ include.picture_path }}/{{ image.original }}"
          srcset="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ include.picture_path }}/{{ image.original }} 800w"
          sizes="(max-width: 576px) 95vw, (max-width: 992px) 45vw, 30vw"
        />
      </a>
    </div>
    {% endfor %}
  </div>
</div>
