---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lightbox.js"></script>

<style>
  /* Ensure proper gallery item sizing */
  .gallery-item {
    display: block;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  /* Remove float from grid items */
  .gallery-item:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

{% include gallery_breadcrumb.html %}

<div class="gallery-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gallery-header">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
          <p class="gallery-description">{{ page.description }}</p>
          {% endif %} {% if page.google_photos_album %}
          <div class="download-all">
            <a
              href="{{ page.google_photos_album }}"
              class="btn btn-download"
              target="_blank"
            >
              <i class="fa fa-download"></i> Download All Originals from Google
              Photos
            </a>
          </div>
          {% endif %}
        </div>

        <div class="gallery-container">
          <div
            class="gallery-grid"
            id="gallery-{{ page.picture_path | slugify }}"
          >
            <!-- Masonry grid sizer -->
            <div class="gallery-grid-sizer"></div>

            {% for picture in site.data.galleries[page.picture_path].pictures %}
            {% assign base_name = picture.filename %} {% assign ext =
            picture.original | split: '.' | last %} {% assign caption =
            picture.title | default: picture.filename %}

            <div class="gallery-item">
              <a
                href="javascript:void(0);"
                class="gallery-link"
                data-src="{{ site.baseurl }}/assets/img/gallery/{{ page.picture_path }}/{{ picture.original }}"
                data-original="{{ site.baseurl }}/assets/img/gallery/{{ page.picture_path }}/{{ picture.filename }}"
                data-caption="{{ caption }}"
              >
                <img
                  loading="lazy"
                  class="gallery-thumbnail"
                  alt="{{ caption }}"
                  src="{{ site.baseurl }}/assets/img/gallery/{{ page.picture_path }}/{{ picture.thumbnail }}"
                />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
