---
layout: default
---
<div class="col-lg-12">
 <div class="row justify-content-center">
      <div class="col-lg-8">
              <ul>
                  <div class="row">
                      {% for project in paginator.posts %}
                      <div class="card projects-project">
                          <img class="card-img-top" src="{{ project.thumbnail | prepend: site.baseurl }}" alt="{{ project.title }}">
                          <div class="card-body">
                              <h4 class="card-title">{{ project.title }}</h4>
                              <h6 class="card-subtitle">{{ project.date | date: "%b %-d, %Y" }}</h6>
                              <p class="card-text">{{ project.summary }}</p>
                              <a href="{{ project.url | prepend: site.baseurl }}" class="btn btn-dark">Read</a>

                              <!-- Languages -->
                              <div class="project-languages mt-2">
                                  {% for lang in project.languages %}
                                  <a href="{{ '/projects/languages/' | append: lang | downcase | prepend: site.baseurl }}"
                                     class="badge bg-secondary">
                                      {{ lang }}
                                  </a>
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </ul>

        <div class="row center">
          <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <nav>
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li class="page-item">
                        <a href="{{ paginator.previous_page_path }}" class="page-link">&laquo;</a>
                    </li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    <li class="page-item {% if page == paginator.page %}active{% endif %}">
                        <a href="{% if page == 1 %}/projects{% else %}/projects/page/{{ page }}{% endif %}"
                           class="page-link">
                            {{ page }}
                        </a>
                    </li>
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li class="page-item">
                        <a href="{{ paginator.next_page_path }}" class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>

    </div>
    {%- include project_sidebar.html -%}

 </div>
</div>
